.container1, .container2, .container3{
   border: solid 5px gray;
   width: 80%;
   min-height: 200px;
   background-color: beige;
   margin: 10px auto;
}

.container3{
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
}

[class*="item3_"]{
   border: solid 5px blue;
   background-color: aqua;
   padding: 10px;
   margin: 10px;
}

.item3_1{
   order: 6;
   flex-grow: 1;
}

.item3_2{
   order: 2;
   flex-grow: 2;
}

.item3_3{
   order: 3;
   flex-grow: 1;
}

.item3_4{
   order: 7;
   flex-grow: 1;
}

.item3_5{
   order: 5;
   flex-grow: 4;
}

.container2{
   display:flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items:baseline;
   min-height: 500px;
   flex-wrap: wrap;
   align-content: space-between;
}

[class*="item2_"]{
   border: solid 5px blue;
   background-color: aqua;
   width: 100px;
}

.item2_2{
   min-height: 60px;
}

.item2_3{
   min-height: 50px;
}


.container1{
   display:flex;
   flex-direction: row;
   justify-content: space-between;
}

[class*="item1_"]{
   border: solid 5px blue;
   background-color: aqua;
}